body {
    font-family: "Courier New", Courier, monospace
}

/** Global H1 styles **/
h1 {
    color: #555555;
    font-size: 85px;
    text-align: center;
}

/** Global H2 styles **/
h2 {
    text-align: center;
}

/** Globe Styles **/
.globe {
    text-align: center;
}

/** Globe i styles **/
.globe i {
    font-size: 115px;
    color: #bbbbbb;
}
/** Continents **/
.continents {
    padding: 30px;
}

/** Continents p **/
.continents p {
    text-indent: 50px;
}

/** Continents i styles **/
.continents i {
    font-size: 20px;
    color: #3FC380;
}


/** Continent styles **/
.continent {
    padding: 30px;
}

.continent > .panel {

    box-shadow: 0 0 20px rgba(0,0,0,.7);
    padding: 10px 30px;
}
